// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Copy text family
$font-text: 'Roboto', sans-serif;

/// Title and logo font family
$font-title: 'Shrikhand', cursive;

/// Font weight
$font-light: 300;
$font-medium: 500;
$font-bold: 700;

/// Font colors
$font-color-variant: hsla(0, 0%, 0%, 21); 


/// Colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;

///Shadow colors
$shadow-color: hsla(0, 0%, 0%, 0.15);


/// Breakpoints
$medium: 768px;
$large: 1440px;
$max-width: 1920px;

