// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/***** FOOTER *****/
.footer {
    margin-top: auto; 
    padding: 22px 0 22px 25px;
    background-color: adjust-color($background-color, $lightness: -75%);
    color: white;
    ul {
        font-weight: $font-medium;
        list-style-type: none;
    }
    &__logo {
        font-family: $font-title;
        font-size: 1.125rem;
        margin-bottom: 16px;
    }
    &__link {
        padding-bottom: 7px;
        p {
            display: inline-block;
        }
        &--indent {
            margin-left: 10px;
        }
        .fa-fw {
            width: 12px;
        }
    }
}

/*** Media queries for footer ***/
@include responsive-footer;