// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/***** HEADER *****/
header {
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px $shadow-color;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.restaurant header {
    box-shadow: none;
}

.header {
    &__title { /* revoir la couleur du texte */
        font-family: $font-title;
        font-size: 30px;
    }
    &__icon {
        position: absolute;
        width: 30px;
        line-height: 30px;
        left: 17px;
        top: 50%;
        transform: translateY(-50%);
    }
}

/***** Media queries for header *****/
@include responsive-header;


