// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn {
    display: block;
    margin: 27px auto;
    color: white;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    border-radius: 25px;
    font-weight: $font-medium;
    height: 50px;
    padding: 13px 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
