// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/***** BUTTON *****/
.btn { 
    margin: 27px auto;
    color: white;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    border-radius: 25px;
    font-weight: $font-medium;
    height: 50px;
    padding: 13px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /*revoir la couleur */
    box-shadow: 0 4px 10px opacify($shadow-color, 0.1); 
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    &:hover { /*mais ça change aussi l'opacité du texte */
        @include buttonhover;
    }
}
