// -----------------------------------------------------------------------------
// This file contains all styles related to the loader of home page
// -----------------------------------------------------------------------------

/***** LOADER *****/
.loader {
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderanim 1250ms ease-in-out 1750ms 1 forwards;

    .clock {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        border: 5px double $tertiary-color; 
        background: radial-gradient($primary-color, $secondary-color);
        box-shadow: 0 0 20px $tertiary-color; /* offset-x | offset-y | blur-radius | spread-radius | color */
        &__center {
            position: absolute;
            width: 20px;
            height: 20px;        
            top: calc(50% - 10px); /* 50% minus height/2 */
            left: calc(50% - 10px);
            border-radius: 50%;
            background-color:$tertiary-color;
            box-shadow: 0 0 5px 2px $tertiary-color;
            z-index: 1;
            animation: centeranim 405ms ease-out 1745ms 1 forwards;
        }
        &__little {
            position: absolute;
            width: 70px;
            top: 35px;
            left: 61px;
            img {
                transform-origin: 35px 60px;
                animation: littlespin 1700ms ease-out 300ms 1 forwards;
            }
        }
        &__big {
            position: absolute;
            width: 110px;
            top: 0px;
            left: 42px;
            transform: rotateY(180deg);
            img {
                transform-origin: 56px 95px;
                animation: bigspin 1700ms ease-out 300ms 1 forwards;
            }
        }
    }
}

@keyframes bigspin {
    0% { 
        transform: rotate(0);
    }
    100% { 
        transform: rotate(-360deg); 
    }
}

@keyframes littlespin {
    0% { 
        transform: rotate(0);
    }
    100% { 
        transform: rotate(30deg); 
    }
}

@keyframes centeranim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loaderanim {
    0% {
        opacity: 1;
        visibility: visible;        
    }
    100% {
        opacity: 0;
        visibility: hidden; 
    }
}