// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/*** Basic styles for body ***/
body {
  display: flex;
  justify-content: center;
}

.container { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* for footer position */
  width: 100%;
  max-width: $max-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}


/*** Basic styles for links ***/
a {
  color: inherit;
  text-decoration: none;
}