/*** Animations of restaurant page ***/
@keyframes anim-food {
  0% {
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(40px);
  }
  30% {
    transform: translateY(-50px);
    opacity: 0.5;
    filter: blur(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
/*** Basic styles for body ***/
body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* for footer position */
  width: 100%;
  max-width: 1920px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/*** Basic styles for links ***/
a {
  color: inherit;
  text-decoration: none;
}

/*** reset styles ***/
button {
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  margin: 0;
}

/*** Basic typography style for copy text ***/
body {
  font-family: "Roboto", sans-serif;
}

/***** HEADER *****/
header {
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.15);
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.restaurant header {
  box-shadow: none;
}

.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.header__icon {
  position: absolute;
  width: 30px;
  line-height: 30px;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

/*** Media queries for header ***/
@media screen and (min-width: 768px) {
  header {
    box-shadow: none;
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding: 26px 0;
  }
}
/***** FOOTER *****/
.footer {
  margin-top: auto;
  padding: 22px 0 22px 25px;
  background-color: #373737;
  color: white;
}
.footer ul {
  font-weight: 500;
  list-style-type: none;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  margin-bottom: 16px;
}
.footer__link {
  padding-bottom: 7px;
}
.footer__link p {
  display: inline-block;
}
.footer__link--indent {
  margin-left: 10px;
}
.footer__link .fa-fw {
  width: 12px;
}

/*** Media queries for footer ***/
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 22px 0;
  }
  .footer ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__link {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 30px 25px;
    justify-content: right;
    align-items: end;
  }
  .footer ul {
    align-items: flex-end;
    gap: 7px;
  }
  .footer__logo {
    margin: 0 40px 0 0;
  }
  .footer__link:nth-of-type(3) {
    margin-left: 33px;
    margin-right: 7px;
  }
  .footer__link:nth-of-type(4) {
    margin-right: 74px;
  }
}
/***** BUTTON *****/
.btn {
  margin: 27px auto;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px;
  font-weight: 500;
  height: 50px;
  padding: 13px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.85;
}
.btn__menu {
  display: block;
  text-align: center;
  width: fit-content;
  padding: 13px 50px;
  margin: 0 auto;
}

/***** button HEART *****/
.heart {
  position: relative;
  width: 22px;
  height: 22px;
}
.heart .empty-heart {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: all 500ms;
}
.heart .full-heart {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}
.heart:hover {
  cursor: pointer;
}
.heart:hover .full-heart {
  visibility: visible;
  opacity: 1;
}
.heart:hover .empty-heart {
  visibility: hidden;
  opacity: 0;
}

/***** LOADER *****/
.loader {
  background-color: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderanim 1250ms ease-in-out 1750ms 1 forwards;
}
.loader .clock {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  border: 5px double #99E2D0;
  background: radial-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0 20px #99E2D0; /* offset-x | offset-y | blur-radius | spread-radius | color */
}
.loader .clock__center {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px); /* 50% minus height/2 */
  left: calc(50% - 10px);
  border-radius: 50%;
  background-color: #99E2D0;
  box-shadow: 0 0 5px 2px #99E2D0;
  z-index: 1;
  animation: centeranim 405ms ease-out 1745ms 1 forwards;
}
.loader .clock__little {
  position: absolute;
  width: 70px;
  top: 35px;
  left: 61px;
}
.loader .clock__little img {
  transform-origin: 35px 60px;
  animation: littlespin 1700ms ease-out 300ms 1 forwards;
}
.loader .clock__big {
  position: absolute;
  width: 110px;
  top: 0px;
  left: 42px;
  transform: rotateY(180deg);
}
.loader .clock__big img {
  transform-origin: 56px 95px;
  animation: bigspin 1700ms ease-out 300ms 1 forwards;
}

@keyframes bigspin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes littlespin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes centeranim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loaderanim {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/***** HOME *****/
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 9px 50px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  padding-bottom: 5px;
}

/* div Location */
.location {
  height: 50px;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location p {
  font-weight: 500;
  color: hsl(0, 0%, 0%);
  margin-left: 17px;
}

/* section Explore */
.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding: 30px 0px;
}
.explore p {
  font-size: 1.125rem;
  font-weight: 300;
}

/* section Search */
.search {
  padding: 48px 20px 68px 20px;
  display: flex;
  flex-direction: column;
}
.search ol {
  list-style-type: none;
  font-weight: 500;
  counter-reset: li; /* Initiate a counter */
}
.search__link {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 25px;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px hsla(0, 0%, 0%, 0.15);
}
.search__link::before {
  content: counter(li);
  counter-increment: li;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 0.9rem;
  color: white;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  left: -12px;
  padding-top: 2px;
}
.search__link .fa-mobile-screen-button,
.search__link .fa-list-ul {
  color: #7e7e7e;
}
.search__link .fa-store {
  color: #9356DC;
}
.search__link .fa-fw {
  width: 73px;
}
.search__link p {
  flex-grow: 1;
}

/* section Food */
.food {
  background-color: #F6F6F6;
  padding: 54px 17px 46px 17px;
}
.food h2 {
  margin-bottom: 28px;
}

.food-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 18px;
}

.card {
  background-color: white;
  border-radius: 15px;
  position: relative;
  flex: 1 1 0;
}
.card__cover {
  object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__new {
  position: absolute;
  right: 22px;
  top: 13px;
  z-index: 1;
  background-color: #99E2D0;
  color: #008665;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__new p {
  font-weight: 500;
  font-size: 0.9rem;
}
.card__bottom {
  display: flex;
  align-items: center;
}
.card__bottom a {
  display: block;
  flex-grow: 1;
}
.card__content {
  padding: 16px 0 16px 13px;
}
.card__content p {
  font-weight: 300;
}
.card .heart {
  margin-right: 20px;
}

/*** Media queries for home page ***/
@media screen and (min-width: 768px) {
  .search {
    gap: 25px;
  }
  .search ol {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .search__link {
    margin-top: 0;
    flex: 1 1 0;
  }
  .food-cards {
    flex-direction: row;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 2.5rem;
  }
  .search {
    width: 75%;
    padding: 50px 0;
    margin: 0 auto;
  }
  .food {
    padding: 30px 0 10px 0;
  }
  .food h2 {
    width: 75%;
    margin: 0 auto;
  }
  .food-cards {
    gap: 100px;
    width: 75%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
/***** RESTAURANT *****/
.restaurant main {
  display: flex;
  flex-direction: column;
}
.restaurant h1 {
  text-align: start;
  padding: 0 0 0 4px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.75rem;
}
.restaurant h2 {
  font-variant: small-caps;
  font-weight: 300;
}
.restaurant h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  top: 27px;
}
.restaurant h3 {
  font-weight: 500;
}

.cover {
  height: 220px;
}
.cover img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.menu {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0; /* trouver les bonnes valeurs */
  padding: 35px 13px 40px 13px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title .heart {
  margin-right: 27px;
}
.menu p {
  font-size: 15px;
  font-weight: 300;
}
.menu .entrees,
.menu .plats,
.menu .desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .entrees {
  animation: anim-food 800ms ease-out 50ms 1 both;
}
.menu .plats {
  animation: anim-food 800ms ease-out 550ms 1 both;
}
.menu .desserts {
  animation: anim-food 800ms ease-out 1150ms 1 both;
}

.menu__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px hsla(0, 0%, 0%, 0.1);
}
.menu__card > div {
  height: 100%;
}
.menu__card__text {
  /*padding: 15px;*/
  padding: 15px 0 15px 15px;
  overflow: hidden;
  /*min-width: auto;*/
}
.menu__card__text h3, .menu__card__text p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card__right {
  max-width: 35%;
  display: flex;
  justify-content: flex-end;
  /*overflow: hidden;*/
}
.menu__card__right > * {
  height: 100%;
}
.menu__card__right .price {
  min-width: 50%; /*width */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 15px;
  font-weight: 700;
  /*padding: 10px 15px;*/
  padding: 0 15px 10px 5px;
  transition: padding 300ms ease-in-out;
}
.menu__card__right .add {
  width: 0%;
  /*overflow: hidden;*/
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.menu__card__right .add .fa-circle-check {
  color: white;
  line-height: 20px;
}
.menu__card:hover {
  cursor: pointer;
}
.menu__card:hover .add {
  width: 50%;
  padding: 30px;
}
.menu__card:hover .price {
  padding: 0 10px 10px 5px;
}

/*** Media queries for restaurant page ***/
@media screen and (min-width: 768px) {
  .menu {
    width: 73%;
    margin: 0 auto;
    align-items: center;
  }
  .menu .entrees,
  .menu .plats,
  .menu .desserts {
    width: 60%;
  }
  .menu__title {
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .cover {
    height: 343px;
  }
  .cover img {
    height: 383px;
  }
  .menu {
    padding: 50px 0 40px 0;
  }
}

/*# sourceMappingURL=style.css.map */
