/***** RESTAURANT *****/
.restaurant {
    main {
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-align: start;
        padding: 0 0 0 4px;
        font-family: $font-title;
        font-weight: 400;
        font-style: italic;
        font-size: 1.75rem;
    }
    h2 {
        font-variant: small-caps;
        font-weight: $font-light;
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 40px;
            background-color: $tertiary-color;
            top: 27px;
        }
    }
    h3 {
        font-weight: $font-medium;
    }
}

.cover {
    height: 220px;
    img {
        object-fit: cover;
        height: 275px;
        width: 100%;
    }
}

.menu {
    width: 100%;
    background-color: $background-color;
    border-radius: 50px 50px 0 0; /* trouver les bonnes valeurs */
    padding: 35px 13px 40px 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__title {
        display: flex;
        align-items: center;
        gap: 35px; /* 24px dans la version responsive */
    }
    p {
        font-size: 15px;
        font-weight: $font-light;
    }
    .entrees, .plats, .desserts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}


.menu__card {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 69px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px hsla(0, 0%, 0%, 0.1);
    > div {
        height: 100%;
    }
    &__text {
        /*padding: 15px;*/
        padding: 15px 0 15px 15px;
        overflow: hidden;
        min-width: auto;
        h3, p {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;            
            text-overflow: ellipsis;
        }
    }
    &__right {
        max-width: 35%;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        > * {
            height: 100%;
        }
        .price {
            width: 50%; /*min-width */
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 15px;
            font-weight: $font-bold;
            /*padding: 10px 15px;*/
            padding: 0 20px 10px 5px;
            transition: all 1000ms ease-in-out;
      }
        .add {
            width: 0%;
            overflow: hidden;
            background-color: $tertiary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1000ms ease-in-out;
            .fa-circle-check {
                color: white;
                line-height: 20px;
            }
        }
    }
    &:hover {
        .add {
            width: 50%;
            padding: 30px;
        }
        .price {
            padding: 0 10px 10px 5px;
        }
    }
}  

